/*set the css of the view highscore*/
a
{
    text-decoration: none;
    margin-left: 20px;
    color:purple;
}

/*set the span to right*/
span
{
    float: right;
}
/*set the main content of the page to sign*/
p
{
    text-align: center;
    width: 60%;
    margin: auto;
}
/*for the timer set the float right and set the margin*/
#time
{
    float: right;
    margin-right: 30px;
}

/*set the style for the question*/
#coding
{
    margin-top: 100px;
    text-align: center;
}

/*set the margin for the question section*/
#ask_question
{
    margin-top:120px;
}

/*set the margin and width for the question*/
#question
{
    margin: auto;
    width: 600px;
}

/*class for go back button*/
.goBack
{
    background-color: purple;
    color: white;
    margin-top:10px;
    text-align: center;
}

/*set the style for the main page*/
.contentAlign
{
    text-align: center;
    margin:auto;
    width:60%;
}

/*set the font styling for the questions*/
.question
{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: auto;
    line-height: 1;

}

/*set the font styling for the multiple options*/
.option
{
    background-color: RGB(56, 3, 110);
    color: white;
    padding-bottom: 3px;
    line-height:1.2;
}

.answers
{
    margin:auto;
    margin-top:10px;
}
/*when mouse over change the background color*/
.answers label:hover
{
    background-color:lightpink;
}

/*for the right or wrong ans set the style*/
#ans
{
    margin: auto;
    width: 50%;
    padding: 10px;
    
}
/*to display the score the style*/
#score
{
    margin: auto;
    width: 42%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
}

/*to display the score the style*/
#finalSore
{
    text-align: left;
}
/*to display the final score the style*/
#finalResult
{
 display: none;
text-align: center;
}

/*style for the score table*/
#list
{
    margin:auto;
}

/*set the alternate background color*/
tr:nth-child(even) { 
    background-color:RGB(3, 99, 110); 
    height: 3px;
} 

/*set the alternate background color*/
tr:nth-child(odd) { 
    background-color: lightpink; 
     height: 3px;
}
/*set the style for the table row*/
.high
{
    margin:auto;
      
        color: black;
        font-size: 1.25rem;
        font-weight: 400;
        padding: 5px;
        width: 40%;
        list-style: none;
    
}